html,
body {
  background-color: #151414;
  padding: 0;
  margin: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  /* font-family: Helvetica, Arial, sans-serif; */
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
}

*::-webkit-scrollbar {
  display: none;
}

/* header CSS */
header {
  background-color: transparent;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: fit-content;
  transition: all ease 600ms;
}

.header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 9.5vh;
}

.left-header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-cont.black-bg {
  background-color: rgb(20, 20, 20);
}

.left-cont,
.right-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-cont {
  max-width: 40;
}

.main-nav {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}
.nav-item {
  margin-right: 20px;
  color: white;
  font-weight: 550;
}
.nav-item a {
  font-style: inherit;
  color: inherit;
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(255, 42, 42);
}

.right-nav {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}
.right-navitem {
  margin-right: 22px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 1.5px 1.5px 1px;
}

.right-navitem:hover {
  background-color: rgb(255, 42, 42);
  border-radius: 0.2px 10px 10px;
}
.brand-logo {
  max-width: 120px;
  border-radius: 5px;
}

.user-logo {
  margin: -1px 0 6px;
  border-radius: 14px;
}

/* Movies Section */

#movies-container {
  position: relative;
  top: 0;
}

.movie-section {
  margin-bottom: 41px 0;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
}

.movies-section-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.explore-nudge {
  color: #54b9c5;
  font-size: 12px;
  display: none;
}

.movies-section-heading:hover .explore-nudge {
  display: inline-block;
  transform: scale(0.99);
}

.movies-row-container {
  display: flex;
  flex-direction: column;
}

.movies-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; /* Ensure that items stay in a single line */
}

.category-container {
  width: 100vw;
  height: fit-content;
  display: none;
}

.movie-item {
  width: 360px;
  position: relative;
  top: 0px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 4px;
}

.movie-item-img {
  border-radius: 4px;
  width: inherit;
}

.trailer-container {
  display: flex;
  justify-content: center;
  width: 100vw; /* Take full width of the viewport */
  height: 56.25vh; /* Set the height based on the 16:9 aspect ratio (100 / 16 * 9) */
  overflow: hidden;
}

.youtube-video {
  object-fit: contain;
  position: relative;
  top: 0px;
  /* object-fit: contain; */
}

.video-div {
  position: relative;
  top: 0;
  width: 100vw;
  height: 56.25vh;
  margin: 0;
  border: 0;
}

.fullscreen-button {
  position: absolute;
  background-color: rgba(109, 109, 110, 0.7);
  color: #fff;
  font-weight: 700;
  height: 20px;
  width: 80px;
  margin: 0px;
  border: 0px;
  cursor: pointer;
  border-radius: 3px;
  bottom: 5px;
  left: 2px;
  z-index: 11;
}

.youtube-video iframe {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.movie-btn-cont {
  z-index: 1;
  position: absolute;
  bottom: -5px;
  left: 25px;
}

.movie-btn-cont .action-button {
  padding: 8px 20px;
  margin-right: 9px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 700;
}

.movie-btn-a {
  color: #fff;
  text-decoration: none;
}

/* padding: 8px 23px;
  margin-right: 11px;
  border-radius: 4px; */
/* aspect-ratio: 16 / 9; */

.movie-item:hover {
  z-index: 1;
  transform: scale(1.2, 1.2);
  overflow-x: visible;
  transition: transform linear 300ms;
}

.movie-item:hover .movie-btn-cont {
  transform: scale(0.83, 0.83);
  transition: transform linear 300ms;
  position: absolute;
  bottom: 10px;
  left: 22px;
}

/* banner section CSS */

.banner-section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-content {
  display: flex;
  flex-direction: column;
  padding-top: 45vh;
  margin-left: 5px;
  height: 51.25vh;
}

.banner-title {
  color: white;
  font-size: 84px;
  margin: 0;
  line-height: 1.1;
  margin-bottom: 16px;
  max-width: 50%;
}

.banner-info {
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(249, 252, 83);
}

.banner-overview {
  font-size: 16.4px;
  color: white;
  line-height: 1.3;
  max-width: 60%;
}

.action-buttons-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.6rem;
}

.action-button {
  border: none;
  background-color: white;
  padding: 8px 23px;
  margin-right: 11px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.action-a {
  color: #ff2625;
  text-decoration: none;
}

.action-button-icon {
  /* margin-top: 1px; */
  margin-right: 3px;
}
.action-button:nth-last-of-type(1) {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.banner-fadeBottom {
  height: 7vh;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #151414
  );
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.bannermovie-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 100vw; /* Take full width of the viewport */
  height: 56.25vw; /* Set the height based on the 16:9 aspect ratio (100 / 16 * 9) */
  overflow: hidden;
}

.banner-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.banner-video iframe {
  border: none;
  outline: none;
}

.menubar {
  background-image: linear-gradient(135deg, #222121 0%, #151414 100%);
  height: 100%;
  width: 175px;
  transition: 1s;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  a#hamburgermenu {
    margin-top: 25px;
  }
}

.btnnav {
  z-index: 12;
  display: none;
  background-color: transparent;
  border: 0;
  margin: 0;
}

/* Responsive CSS */

@media (min-width: 2350px) {
  .banner-title {
    font-size: 84px;
    max-width: 70%;
  }
}
@media (min-width: 1570px) and (max-width: 2350px) {
  header {
    height: 7.5vh;
  }
  .banner-title {
    font-size: 76px;
    max-width: 75%;
    line-height: 1.5;
  }
}

@media (max-width: 1569px) and (min-width: 1200px) {
  .header-cont {
    height: 7.5vh;
  }

  .banner-content {
    padding-top: 38vh;
  }

  .banner-overview {
    font-size: 18.4px;
    color: white;
    line-height: 1.4;
    max-width: 80%;
  }

  .banner-title {
    font-size: 54px;
    line-height: 1.3;
    max-width: 85%;
  }

  .banner-info {
    line-height: 1.4;
  }

  .banner-section {
    width: 100vw;
    height: 56.25vw;
    position: relative;
  }
}

@media (max-width: 1200px) and (min-width: 773px) {
  .header-cont {
    height: 7vh;
  }

  .banner-overview {
    max-width: 90%;
  }

  .banner-content {
    padding-top: 18vw;
  }

  .banner-title {
    font-size: 44px;
    line-height: 1.1;
    max-width: 88%;
    margin-bottom: 1.2vw;
  }

  .banner-info {
    margin-bottom: 0.5vw;
    font-size: 24px;
    line-height: 1.2;
  }

  .banner-section {
    width: 100vw;
    height: 56.25vw;
    position: relative;
  }
}

@media (max-width: 773px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .header-cont {
    height: 6.8vh;
  }

  .main-nav {
    list-style: none;
    flex-direction: column;
    display: none;
  }

  .nav-item {
    margin-top: 20px;
  }

  .right-navitem {
    margin-right: 12px;
    width: 28px;
    height: 28px;
    padding: 1px 0.8px;
  }

  .btnnav {
    display: block;
  }

  .banner-section {
    width: 100vw;
    height: 56.25vw;
    position: relative;
  }

  .banner-content {
    padding-top: 10vw;
  }

  .banner-title {
    font-size: 30px;
    line-height: 1.1;
    max-width: 90%;
    margin-bottom: 1.5vw;
  }

  .banner-info {
    margin-bottom: 1.7vw;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;
  }

  .banner-overview {
    display: none;
  }

  .banner-fadeBottom {
    height: 2.3rem;
  }
}
